*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background: linear-gradient(to right, #3494E6, #EC6EAD);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    top: 0%;
    width: 100%;
    padding: 15px;
    background-color: #333333;
    position: fixed;
}

.links{
    position: absolute;
    top: 50%;
    left: 45%;
    display: flex;
    flex-flow: column wrap;
   
}

div.links > a{
    padding: 10px;
    background-color: #07afa9ce;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

a{
    color: #ffffff;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    letter-spacing: 1px;
}

a:hover{
    color: rgb(206, 56, 19);
}



footer{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: #333333;
    position: fixed;
}

footer > p{
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 700px){
    body{
        overflow: hidden;
    }
    header{
        padding: 5px;
        text-align: center;
        font-size: small;
    }

    .links{
        top: 45%;
        left: 12%;
    }

    div.links > a{
        width: 300px;
    }

    footer{
        position: fixed;
        bottom: 0;
        padding: 5px;
        font-size: smaller;
    }

    footer > p{
        display: none;
    }
}